.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

#nav a {
	color: white;
}

.log-table a
{
	font-weight: normal;
	text-decoration: none;
}